html,
body,
div,
span,
applet,
object,
iframe,
h1,
h4,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
article,
aside,
canvas,
details,
embed,
dl,
dt,
dd,
ol,
ul,
li,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
figure,
figcaption,
footer,
header,
hgroup,
fieldset,
form,
label,
legend,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  margin: 0 auto;
}
ol,
ul {
  list-style: none;
}
/*==================*/
/*CSS styling */

/*Styling the body*/

nav ul li:first-child {
  text-align: left;
  margin-top: 10px;
  cursor: pointer;
}
li:nth-child(2) {
  color: white;
  font-family: poppins;
}
nav ul li:last-child {
  margin-top: 10px;
  margin-right: 2rem;
  cursor: pointer;
}
/* main heading styling */
li span:first-child {
  font-size: 3rem;
  font-weight: 800;
  color: #ffffff;
  margin-right: 10px;
  font-family: poppins;
}
li span:nth-child(2) {
  font-size: 3rem;
  font-weight: 700;
  color: #0575e6;
  text-shadow: 2px 2px #a5de95;
  margin-right: -20px;
  font-family: poppins;
}

li span:last-child {
  font-size: 3rem;
  margin-right: -20px;
  font-weight: 700;
  font-family: poppins;
  color: #0575e6;
  text-shadow: 2px 2px #a5de95;
}

/*main section and common elements design*/
main {
  margin: 0 auto;
  max-width: 80%;
  font-family: "poppins", serif;
}
main div {
  display: flex;
  margin: 5rem 0rem 0rem 0rem;
}
main div img {
  margin-right: 8.5rem;
}
main div p {
  float: right;
}
main div a {
  padding: 1.5rem;
  border: 1px solid #0575e6;
  float: right;
}
main h1 {
  font-size: 4rem;
  display: grid;
  text-align: left;
  padding: 4rem 4rem 2rem 4rem;
  background-image: linear-gradient(to right, #00f260, #0575e6);
  color: #ffffff;
  border-radius: 0.3rem;
  line-height: 120%;
}
main h1 span {
  color: rgba(255, 250, 244, 0.42);
  font-size: 14rem;
  text-align: center;
  margin-bottom: -50px;
}
main h2 {
  color: #041c2cda;
  font-weight: 800;
  font-family: "Poppins";
  margin-top: 5rem;
  font-size: 25px;
  padding: 1rem 0rem 1rem 0rem;
  border-bottom: 2px solid rgb(219, 218, 218);
}
/* Focus on man heading descriptions */
main h3 {
  font-family: poppins;
  font-weight: bold;
  font-size: 40px;
  line-height: 4rem;
  color: #555555;
  margin: 5rem 0rem 5rem 0rem;
  margin-left: 3.5rem;
}
main h3 span {
  color: #0575e6;
  font-weight: 800;
  font-size: 55px;
  font-family: "Raleway", sans-serif;
}
main h4 {
  font-weight: 700;
  font-size: 1rem;
  line-height: 28px;
  color: #2f2f72;
  margin-top: 5rem;
  font-family: "Poppins";
}
main a {
  text-decoration: none;
  color: #504d4d;
}
main p {
  font-family: "poppins";
  font-size: 1.1rem;
  line-height: 2.2rem;
  padding-top: 10px;
  padding-bottom: 40px;
  color: #414141;
  padding: 4rem 2rem 6rem 2rem;
  background: #b8ffeba3;
  border-radius: 8px;
  margin-bottom: 5rem;
}
main p span {
  font-weight: 400;
  color: #00830b;
  font-size: 1.5rem;
}
/* Images with links section */
article {
  padding: 0 0 2rem;
  margin: 5rem auto 5rem;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
article figcaption {
  font-size: 20px;
  color: #383838;
  font-weight: 600;
  padding: 1rem;
  border: 1px solid rgba(95, 158, 160, 0.438);
  margin-bottom: 2rem;
  border-bottom: none;
}
article h4 {
  margin-top: 4rem;
}
article h4 a {
  margin-top: 10px;
  padding: 1rem;
  border: 1px solid  #0575e6;
  color: #0575e6;
  border-radius: 5px;
}
article h4 a:hover {
  border: none;
  background-image: linear-gradient(to right, #00f26149, #0576e644);
}
/* next button */
form button {
  float: right;
  padding: 1rem 2rem 1rem 2rem;
  margin-top: 10px;
  border: 0.5px solid #0575e6;
  border-radius: 5px;
  background: #4ca6ff33;
  font-family: poppins;
  font-weight: 500;
  font-size: medium;
}
form button:hover {
  border: none;
  background-image: linear-gradient(to right, #00f26149, #0576e644);
  cursor: pointer;
}

/* footer of webpage */
footer {
  font-family: "poppins";
  margin-top: 5rem;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 7em 1em 1em 1em;
  height: 9rem;
  background-image: linear-gradient(to right, #000000, #353434, #0a0a0a);
  background-color: #151515;
}
footer h4 {
  color: #504d4d;
  margin-top: 2rem;
}
